.match-card-container {
  background-color: #0f172a;
  width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 10px;
}
.competing-team-logo {
  width: 60px;
  height: 60px;
}
.competing-team-name {
  font-size: 15px;
  font-weight: 900;
  color: #ffffff;
}
.match-result {
  font-size: 16px;
  color: #ffffff;
}
.won {
  font-size: 20px;
  color: #18ed66;
  font-weight: bold;
}
.lost {
  font-size: 20px;
  color: #e31a1a;
  font-weight: bold;
}
@media (min-width: 768px) {
  .match-card-container {
    width: 180px;
    height: 400px;
  }
  .competing-team-logo {
    width: 100px;
    height: 100px;
  }
  .competing-team-name {
    font-size: 20px;
  }
  .match-result {
    font-size: 20px;
  }
  .won {
    font-size: 30px;
  }
  .lost {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  .match-card-container {
    width: 240px;
  }
}
@media (min-width: 1140px) {
  .match-card-container {
    width: 300px;
    height: 500px;
    padding: 20px 10px;
  }
  .competing-team-logo {
    width: 130px;
    height: 150px;
  }
  .competing-team-name {
    font-size: 25px;
  }
  .match-result {
    font-size: 25px;
  }
}
